@import '../../css/variables.css';

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

.menu {
  background: var(--colorBlack);
  color: var(--colorWhite);
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--zIndexMenu);
}

.disable {
  composes: menu;
  display: none;
}

.item {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;
}

.active {
  border-bottom: 4px solid var(--colorWhite);
}

@media (--small) {
  .item {
    font-size: 2.2857rem;
  }
  .active {
    border-width: 2px;
  }
}
