:root {
  /* Layout */
  --wrapperWidth: 1200px;
  --headerHeight: 48px;
  --gutter: 20px;
  --columnCount: 12;

  /* Colors */
  --colorBlack: #000;
  --colorWhite: #FFF;
  --colorOne: #D85D15;
  --colorTwo: #0B0C10;
  --colorThree: #C5C6C7;
  --colorFour: #66FCF1;
  --colorFive: #45A29E;
  --colorSix: #1F2833;

  /* Z Index Scale */
  --zIndexHeader: 200;
  --zIndexMenu: 300;
  --zIndexHamburger: 400;
}

@custom-media --small (max-width: 767px);
@custom-media --medium (max-width: 1023px);
